body {
  background-color: #F7ECDE;
}

hr {
  border-style: dotted none none none;
  border-width: 5px;
  border-color: black;
  height: 0px;
  width: 15%;
}
h1{
  color: #66BFBF;
  text-shadow: 1px 1px black;
}
h3{
  color: #66BFBF;
}
