body {
  background-color: #cdd7d6;
  border-top: solid 50px #102542;
  border-bottom: solid 50px #102542;
}
.button_header2{
  background-color: #102542;
  text-align:center;
  border-bottom: #b3a394 solid 5px;
  padding: 20px;
}
.project_button{
  background-color: #ffffff;
  border-radius: 10px;
  border: solid 2px #f87060;
  padding: 5px;
  color:black;
  transition-duration: .04s;
}
.project_button:hover{
  background-color: #FFDEDE;
}
h2{
  font-family: Verdana;
  text-align: center;
}
.contactform{
  font-family: Verdana;
  margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 2px;
}
input{
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: #f87060 solid 2px;
}
textarea{
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: #f87060 solid 2px;
}
.feeter{
  background-color: #102542;
  text-align:center;
  border-top: #b3a394 solid 5px;
  padding: 20px;

}
